{
  "openapi": "3.1.0",
  "info": {
    "title": "NeonPanel API",
    "version": "1.2.0-beta",
    "summary": "Public REST API for NeonPanel: companies, inventory, documents, reports and imports. Currently in beta.",
    "description": "> **This API is in beta.**\n> It is stable enough to build against, but it is not frozen. Fields may be added, endpoints may\n> change shape, and behaviour described here may still be corrected as it is verified against the\n> implementation. Ignore response fields you do not recognise rather than validating strictly\n> against these schemas, and re-read this page after every version bump.\n\nThe NeonPanel API exposes the data behind [my.neonpanel.com](https://my.neonpanel.com):\ncompany context, the inventory catalogue, accounting documents\n(inventory orders, bills, shipments, invoices, assembly orders, adjustments),\nreports and analytics, and document import.\n\n## Base URL\n\nAll endpoints are served from a single origin:\n\n```\nhttps://my.neonpanel.com\n```\n\nBusiness endpoints live under the `/api/v1` prefix. OAuth 2.0 endpoints live under\n`/oauth2` and are **not** versioned.\n\n## Authentication\n\nEvery endpoint requires an OAuth 2.0 bearer access token unless it is explicitly\ndocumented as public. Pass the token in the `Authorization` header:\n\n```\nAuthorization: Bearer <access_token>\n```\n\nThe API uses the **Authorization Code flow with PKCE (S256)**. The `openid` scope is\nrequired; no other scopes are currently defined.\n\n| Step | Endpoint |\n| --- | --- |\n| 1. Register a client (optional, open DCR) | `POST /oauth2/register` |\n| 2. Send the user to authorize | `GET /oauth2/authorize` |\n| 3. Exchange the code for tokens | `POST /oauth2/token` |\n| 4. Refresh an expired token | `POST /oauth2/token` with `grant_type=refresh_token` |\n\nPublic endpoints — the ones that do **not** take a bearer access token — are\n`GET /oauth2/authorize` and `POST /oauth2/register`. The token endpoint authenticates\nthe *client*, not the user, and accepts `none`, `client_secret_basic`,\n`client_secret_post` or `private_key_jwt`. The client-management endpoints under\n`/oauth2/register/{client_id}` authenticate with a **Registration Access Token (RAT)**,\nwhich is a different credential from an API access token and is valid for 30 days.\n\n## Company scope\n\nMost business endpoints are scoped to a company via the `{companyUuid}` path\nparameter. Access is validated server-side against the token's user; a company the\nuser cannot access returns `403`. Use `GET /api/v1/companies` to list the companies\navailable to the current token.\n\n## Entry Locked Date\n\nEach company has an **Entry Locked Date** that closes its accounting history. A document dated\nearlier than that date cannot be created, changed or deleted, and any such request is rejected\nwith `400`. The date moves forward as periods are closed, so an endpoint that worked yesterday can\nstart rejecting the same payload today.\n\n## Pagination\n\nPaginated endpoints return `current_page`, `per_page` and `last_page` at the top level of the\nresponse, next to `data` — not nested under a `pagination` key. They accept `page` and `per_page`\nquery parameters, and default page sizes differ per resource.\n\nNot every list is paginated. Sales channels, payment terms and reports come back as a plain `data`\narray with no page fields at all.\n\n## Errors\n\nErrors return a JSON body with a `message` field. Validation failures return `422`\nwith a field-keyed `errors` object.\n\n| Status | Meaning |\n| --- | --- |\n| `400` | Malformed request |\n| `401` | Missing, expired or invalid access token |\n| `403` | Authenticated, but not permitted for this company or resource |\n| `404` | Resource does not exist or is outside the company scope |\n| `422` | Validation failed |",
    "contact": {
      "name": "NeonPanel API Support",
      "email": "yurii.mazur@neonpanel.com",
      "url": "https://neonpanel.com"
    }
  },
  "servers": [
    {
      "url": "https://my.neonpanel.com",
      "description": "Production"
    }
  ],
  "security": [
    {
      "OAuth2": [
        "openid"
      ]
    }
  ],
  "paths": {
    "/api/v1/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List Companies",
        "operationId": "listCompanies",
        "description": "Returns the companies the authenticated user can access, paginated.\n\nTwo identifiers come back for each company and they are not interchangeable: `uuid` is what every company-scoped endpoint expects as its `{companyUuid}` path parameter, while the numeric `id` is what report URLs expect as the `company` query parameter.\n",
        "parameters": [
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 60,
              "default": 30
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/permissions": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List Permissions",
        "operationId": "listPermissions",
        "description": "Returns every permission defined in the platform, independent of what the authenticated user actually holds. Use the returned keys as the `{permission}` path parameter elsewhere.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "responses": {
          "200": {
            "description": "List of permissions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string"
                      },
                      "description": "List of permission names"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/permissions/{permission}/companies": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List Companies by Permission",
        "operationId": "listCompaniesWithPermission",
        "description": "Returns the companies in which the authenticated user holds the given permission. Look up valid permission keys with `GET /api/v1/permissions`.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "permission",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "Name of Permission which the User must have in Companies"
          },
          {
            "name": "company_uuids",
            "in": "query",
            "description": "Filter by Companies. Defaults to all accessible for user companies",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The UUID of the company"
              }
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CompanyWithPermissionListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/permissions": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "List Company Permissions",
        "operationId": "listPermissionsByCompany",
        "description": "Returns the permissions the authenticated user holds in the given company. Use this to decide which operations to offer before calling them, rather than relying on `403` responses.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          }
        ],
        "responses": {
          "200": {
            "description": "List of permissions retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "permissions": {
                      "type": "array",
                      "items": {
                        "type": "string",
                        "example": "view:pages.processes.inventory-orders"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "List Reports",
        "operationId": "listReports",
        "description": "Returns the reports the authenticated user can open, each with its group, description and direct `link`. The `link` alone opens the report with its default sheet; call `GET /api/v1/reports/{reportId}` first to discover which sheets and query parameters it accepts.\n",
        "responses": {
          "200": {
            "description": "List of reports retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportsListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/reports/{reportId}": {
      "get": {
        "tags": [
          "Reports"
        ],
        "summary": "Get Report Details",
        "operationId": "getReportData",
        "description": "Returns basic report info and a list of sheets with supported parameters. Build report URL by appending query parameters to `link`: {link}?sheet={sheets[].slug}&{parameter.slug}={value}&... The `sheet` query parameter is optional. If `sheet` is not provided, the report will open the first available sheet by default. You can additionally pass the `company` query parameter as a comma-separated list of company IDs. Each value is the numeric `id` returned by `GET /api/v1/companies` — not `uuid` and not `short_name`. The order of query parameters does not matter. Example: {link}?company=106,296&sheet=transaction-list&start-date=2026-01-01\n",
        "parameters": [
          {
            "name": "reportId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "Report ID obtained in listReports operation"
          }
        ],
        "responses": {
          "200": {
            "description": "Report retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ReportItemFullData"
                }
              }
            }
          },
          "403": {
            "description": "No permissions for requested Report"
          },
          "404": {
            "description": "Report not found"
          }
        }
      }
    },
    "/api/v1/revenue-and-cogs": {
      "get": {
        "tags": [
          "Analytics"
        ],
        "summary": "Get Revenue and COGS Summary",
        "operationId": "revenueAndCogsSummary",
        "description": "Returns revenue and cost of goods sold aggregated over a date range.\n\n`periodicity` controls how the range is bucketed (`total`, `yearly`, `quarterly` or `monthly`) and `grouping` controls the dimension results are broken down by, defaulting to company. Both `company_uuids` and `country_codes` narrow the scope; left out, they cover everything the authenticated user can access. `end_date` defaults to today.\n",
        "parameters": [
          {
            "name": "company_uuids",
            "in": "query",
            "description": "Filter by Companies. Defaults to all accessible for user companies",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The UUID of the company"
              }
            }
          },
          {
            "name": "country_codes",
            "in": "query",
            "description": "Filter by countries. Defaults to all accessible for company marketplaces",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "description": "The country ISO code"
              }
            }
          },
          {
            "name": "grouping",
            "in": "query",
            "description": "Type of grouping of results. If not provided, company grouping will be set",
            "style": "form",
            "explode": true,
            "schema": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "company",
                  "country",
                  "invoice"
                ]
              }
            }
          },
          {
            "name": "periodicity",
            "in": "query",
            "description": "Chunking results by time periods",
            "schema": {
              "type": "string",
              "enum": [
                "total",
                "yearly",
                "quarterly",
                "monthly"
              ],
              "default": "total"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01T00:00:00.000Z"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31T00:00:00.000Z"
            },
            "description": "Defaults to current date if not provided"
          }
        ],
        "responses": {
          "200": {
            "description": "Sales and COGS summary data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/RevenueAndCogsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/warehouses": {
      "get": {
        "tags": [
          "Warehouses"
        ],
        "summary": "List Warehouses",
        "operationId": "listWarehouses",
        "description": "Returns the company's warehouses, paginated. Supports free-text search by name.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 60,
              "default": 30
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string"
            },
            "description": "Search by Warehouse name"
          }
        ],
        "responses": {
          "200": {
            "description": "List of warehouses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/warehouses/{warehouseUuid}/balances": {
      "get": {
        "tags": [
          "Warehouses"
        ],
        "summary": "List Warehouse Inventory Balances",
        "operationId": "warehouseBalances",
        "description": "Returns what a single warehouse currently holds, paginated — one entry per inventory item. For the opposite view — one item across every warehouse — use `GET /api/v1/companies/{companyUuid}/inventory-items/{inventoryId}/balances`.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "warehouseUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the warehouse"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 60,
              "default": 30
            }
          },
          {
            "name": "balances_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01T00:00:00.000Z"
            },
            "description": "Set a date if you need a balances in a past. Defaults to current date if not provided"
          }
        ],
        "responses": {
          "200": {
            "description": "List of warehouses retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/WarehouseBalancesListResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/inventory-items": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "List Inventory Items",
        "operationId": "listInventoryItems",
        "description": "Returns the company's inventory items, paginated. Supports free-text search and filtering through query parameters.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 60,
              "default": 30
            }
          },
          {
            "name": "country_code",
            "in": "query",
            "schema": {
              "type": "string",
              "minLength": 2,
              "maxLength": 2
            }
          },
          {
            "name": "search",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SKU12345"
            },
            "description": "Search by SKU, ASIN, FnSKU, ID or Name"
          },
          {
            "name": "fnsku",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "FNSKU12345"
            }
          },
          {
            "name": "asin",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "ASIN12345"
            }
          },
          {
            "name": "sku",
            "in": "query",
            "schema": {
              "type": "string",
              "example": "SKU12345"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "List of inventory items retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryListResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Inventory"
        ],
        "summary": "Create Inventory Item",
        "operationId": "createInventoryItem",
        "description": "Creates an inventory item in the company. Returns the created item with its manager, product and listing relations resolved.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_code": {
                    "type": "string",
                    "example": "US"
                  },
                  "source": {
                    "type": "string",
                    "example": "amazon"
                  },
                  "fnsku": {
                    "type": "string",
                    "example": "FNSKU123"
                  },
                  "variation": {
                    "type": "string"
                  },
                  "manager_id": {
                    "type": "integer",
                    "example": 1001
                  },
                  "listing_id": {
                    "type": "integer",
                    "example": 1001
                  },
                  "product_id": {
                    "type": "integer",
                    "example": 1001
                  },
                  "restock_data": {
                    "$ref": "#/components/schemas/InventoryRestockData"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory Item data created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItemFullData"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/inventory-items/{inventoryId}": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get Inventory Item",
        "operationId": "getInventoryItemFullData",
        "description": "Returns a single inventory item with its manager, product and listing relations resolved.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "inventoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inventory item"
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory Item data created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItemFullData"
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Inventory"
        ],
        "summary": "Update Inventory Item",
        "operationId": "updateInventoryItem",
        "description": "Updates an inventory item. Returns the updated item with its manager, product and listing relations resolved.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "inventoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inventory item"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "country_code": {
                    "type": "string",
                    "example": "US"
                  },
                  "source": {
                    "type": "string",
                    "example": "amazon"
                  },
                  "fnsku": {
                    "type": "string",
                    "example": "FNSKU123"
                  },
                  "variation": {
                    "type": "string"
                  },
                  "manager_id": {
                    "type": "integer",
                    "example": 1001
                  },
                  "listing_id": {
                    "type": "integer",
                    "example": 1001
                  },
                  "product_id": {
                    "type": "integer",
                    "example": 1001
                  },
                  "restock_data": {
                    "$ref": "#/components/schemas/InventoryRestockData"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Inventory Item data created successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryItemFullData"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Inventory"
        ],
        "summary": "Delete Inventory Item",
        "operationId": "deleteInventoryItem",
        "description": "Deletes an inventory item.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "inventoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inventory item"
          }
        ],
        "responses": {
          "204": {
            "description": "Inventory Item data deleted successfully"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/inventory-items/{inventoryId}/balances": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "Get Inventory Item Balances and Restock Data",
        "operationId": "inventoryBalances",
        "description": "Returns a single inventory item together with its restock recommendation and a per-warehouse breakdown of current balances. For the opposite view — everything held in one warehouse — use `GET /api/v1/companies/{companyUuid}/warehouses/{warehouseUuid}/balances`.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "inventoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inventory item"
          },
          {
            "name": "balances_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01T00:00:00.000Z"
            },
            "description": "Set a date if you need a balances information in a past. Defaults to current date if not provided"
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory Item data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryDetailsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/inventory-items/{inventoryId}/landed-cost": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "List Inventory Item Landed Costs",
        "operationId": "listInventoryLandedCosts",
        "description": "Returns the landed cost records for an inventory item — the manufacturing and delivery expenses that make up its cost basis — broken down by period and warehouse.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "inventoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inventory item"
          },
          {
            "name": "warehouse_uuid",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the warehouse"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 60,
              "default": 30
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01T00:00:00.000Z"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31T00:00:00.000Z"
            },
            "description": "Defaults to current date if not provided"
          }
        ],
        "responses": {
          "200": {
            "description": "Landed costs data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/LandedCostResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/inventory-items/{inventoryId}/cogs": {
      "get": {
        "tags": [
          "Inventory"
        ],
        "summary": "List Inventory Item COGS",
        "operationId": "listInventoryCogs",
        "description": "Returns the cost of goods sold recorded against an inventory item, broken down by period, together with the documents each figure was derived from.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "inventoryId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the inventory item"
          },
          {
            "name": "page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 1,
              "default": 1
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "schema": {
              "type": "integer",
              "minimum": 10,
              "maximum": 60,
              "default": 30
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": true,
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01T00:00:00.000Z"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31T00:00:00.000Z"
            },
            "description": "Defaults to current date if not provided"
          }
        ],
        "responses": {
          "200": {
            "description": "COGS data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/CogsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/products": {
      "get": {
        "tags": [
          "Products"
        ],
        "summary": "List Products",
        "operationId": "getProducts",
        "description": "Returns the company's products, paginated and filterable through query parameters. A product groups one or more inventory items.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of Product. It will return only 1 product if such was found"
                  },
                  "sku": {
                    "type": "string",
                    "example": "SKU123",
                    "description": "Filter by exact SKU value"
                  },
                  "search": {
                    "type": "string",
                    "example": "Blue Shirt",
                    "description": "Search by SKU, Name or Parent SKU"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Products data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ProductsResponse"
                }
              }
            }
          }
        }
      },
      "post": {
        "tags": [
          "Products"
        ],
        "summary": "Create Product",
        "operationId": "createProduct",
        "description": "Creates a product in the company and returns it.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          }
        ],
        "responses": {
          "200": {
            "description": "Products data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/products/{productId}": {
      "put": {
        "tags": [
          "Products"
        ],
        "summary": "Update Product",
        "operationId": "updateProduct",
        "description": "Updates a product and returns it.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the product"
          }
        ],
        "responses": {
          "200": {
            "description": "Product data updated and retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Product"
                }
              }
            }
          }
        }
      },
      "delete": {
        "tags": [
          "Products"
        ],
        "summary": "Delete Product",
        "operationId": "deleteProduct",
        "description": "Deletes a product. Inventory items previously grouped by it are not deleted.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "productId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the product"
          }
        ],
        "responses": {
          "204": {
            "description": "Product has been deleted successfully"
          },
          "403": {
            "description": "Product has not been deleted",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "default": false
                    },
                    "message": {
                      "type": "string",
                      "description": "Error description"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/listings": {
      "get": {
        "tags": [
          "Listings"
        ],
        "summary": "List Listings",
        "operationId": "getListings",
        "description": "Returns the company's listings, paginated and filterable through query parameters. A listing is the link between an inventory item and the offer that sells it on a marketplace.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "id": {
                    "type": "integer",
                    "description": "ID of Product. It will return only 1 product if such was found"
                  },
                  "asin": {
                    "type": "string",
                    "example": "ASIN123",
                    "description": "Filter by exact ASIN value"
                  },
                  "search": {
                    "type": "string",
                    "example": "Blue Shirt",
                    "description": "Search by ASIN or Title"
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Listings data retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/ListingsResponse"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/listings/{listingId}/sync": {
      "post": {
        "tags": [
          "Listings"
        ],
        "summary": "Sync Listing from Amazon",
        "operationId": "syncListing",
        "description": "Fetches the listing from Amazon, updates the stored record and returns it. Use this when marketplace data has changed and waiting for the scheduled sync is not acceptable.\n",
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string"
            },
            "description": "The UUID of the company"
          },
          {
            "name": "listingId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "integer"
            },
            "description": "The ID of the listing"
          }
        ],
        "responses": {
          "200": {
            "description": "Listings data updated and retrieved successfully",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/Listing"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/import/{type}/instructions": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Get Import Instructions",
        "operationId": "getImportInstructions",
        "description": "Returns the field structure expected by the JSON import endpoint for the given document type, including a description of each field. Fetch this first, then build the payload for `POST /api/v1/companies/{companyUuid}/create/{type}`.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ImportType"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Instructions by specified type found and provided",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "attributes": {
                      "type": "object",
                      "description": "Object with keys as parameter name and value as description"
                    },
                    "general": {
                      "type": "string",
                      "description": "General specifications and tips"
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Formatted instructions as plain text"
                }
              }
            }
          },
          "404": {
            "description": "Unsupported document type",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string"
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/create/{type}": {
      "post": {
        "tags": [
          "Import"
        ],
        "summary": "Import Documents from JSON",
        "operationId": "createDocuments",
        "description": "Creates documents from a JSON payload. Get the expected structure for the document type from `GET /api/v1/import/{type}/instructions` before calling this.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the company."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ImportType"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "data"
                ],
                "properties": {
                  "data": {
                    "type": "object",
                    "description": "Document parameters with line items included. Get the expected structure from `GET /api/v1/import/{type}/instructions`."
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "Result is ready.",
            "headers": {
              "X-Request-Id": {
                "description": "Echo of the generated request ID.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "$ref": "#/components/schemas/ImportStatus"
                    },
                    "documents": {
                      "type": "array",
                      "description": "Documents created from the uploaded file.",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsupported type or data is broken.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/settings/forecasts": {
      "get": {
        "tags": [
          "Companies"
        ],
        "summary": "Get Forecasting Settings",
        "operationId": "getCompanyForecastingSettings",
        "description": "Returns the company-wide defaults used by inventory forecasting: supplier and Amazon FBA lead times, safety stock coverage, replenishment and planned PO frequencies, and the Pareto and revenue class thresholds. These apply wherever an inventory item does not carry its own value.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the company."
          }
        ],
        "responses": {
          "200": {
            "description": "Result is ready.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string",
                      "enum": [
                        "active",
                        "trial",
                        "inactive"
                      ],
                      "default": "trial"
                    },
                    "default_seasonality": {
                      "type": "string",
                      "description": "12 multipliers for each month in a year separated by semicolon",
                      "example": "1;1;1;1;1;1;1;1;1;0.8;1.5;2.5",
                      "default": "1;1;1;1;1;1;1;1;1;1;1;1"
                    },
                    "default_scenario_id": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Scenario ID"
                    },
                    "default_lead_time_days": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Default supplier lead time in days"
                    },
                    "default_safety_stock_days": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Default safety stock coverage in days"
                    },
                    "default_fba_lead_time": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Default Amazon FBA lead time in days"
                    },
                    "default_fba_safety_stock": {
                      "type": [
                        "integer",
                        "null"
                      ],
                      "description": "Default FBA safety stock coverage in days"
                    },
                    "default_planned_po_frequency": {
                      "type": "integer",
                      "default": 30
                    },
                    "default_fba_replenishment_frequency": {
                      "type": "integer",
                      "default": 7
                    },
                    "default_safety_stock_multiplicator_class_a": {
                      "type": "number",
                      "default": 1.2
                    },
                    "default_safety_stock_multiplicator_class_b": {
                      "type": "number",
                      "default": 1
                    },
                    "default_safety_stock_multiplicator_class_c": {
                      "type": "number",
                      "default": 0.6
                    },
                    "default_safety_stock_multiplicator_class_d": {
                      "type": "number",
                      "default": 0.5
                    },
                    "default_revenue_class_a": {
                      "type": "number",
                      "default": 10
                    },
                    "default_revenue_class_b": {
                      "type": "number",
                      "default": 3
                    },
                    "default_revenue_class_c": {
                      "type": "number",
                      "default": 0.5
                    },
                    "default_pareto_class_a": {
                      "type": "number",
                      "default": 80
                    },
                    "default_pareto_class_b": {
                      "type": "number",
                      "default": 15
                    },
                    "default_pareto_class_c": {
                      "type": "number",
                      "default": 5
                    }
                  }
                }
              }
            }
          }
        }
      },
      "put": {
        "tags": [
          "Companies"
        ],
        "summary": "Update Forecasting Settings",
        "operationId": "updateCompanyForecastingSettings",
        "description": "Updates the company-wide forecasting defaults. Send only the settings being changed. The response confirms the save with a `success` flag and does not echo the stored values — read them back with `GET` if you need to confirm.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the company."
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "type": "object",
                "properties": {
                  "status": {
                    "type": "string",
                    "enum": [
                      "active",
                      "trial",
                      "inactive"
                    ],
                    "default": "trial"
                  },
                  "default_seasonality": {
                    "type": "string",
                    "description": "12 multipliers for each month in a year separated by semicolon",
                    "example": "1;1;1;1;1;1;1;1;1;0.8;1.5;2.5",
                    "default": "1;1;1;1;1;1;1;1;1;1;1;1"
                  },
                  "default_scenario_id": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Scenario ID"
                  },
                  "default_lead_time_days": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Default supplier lead time in days"
                  },
                  "default_safety_stock_days": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Default safety stock coverage in days"
                  },
                  "default_fba_lead_time": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Default Amazon FBA lead time in days"
                  },
                  "default_fba_safety_stock": {
                    "type": [
                      "integer",
                      "null"
                    ],
                    "description": "Default FBA safety stock coverage in days"
                  },
                  "default_planned_po_frequency": {
                    "type": "integer",
                    "default": 30
                  },
                  "default_fba_replenishment_frequency": {
                    "type": "integer",
                    "default": 7
                  },
                  "default_safety_stock_multiplicator_class_a": {
                    "type": "number",
                    "default": 1.2
                  },
                  "default_safety_stock_multiplicator_class_b": {
                    "type": "number",
                    "default": 1
                  },
                  "default_safety_stock_multiplicator_class_c": {
                    "type": "number",
                    "default": 0.6
                  },
                  "default_safety_stock_multiplicator_class_d": {
                    "type": "number",
                    "default": 0.5
                  },
                  "default_revenue_class_a": {
                    "type": "number",
                    "default": 10
                  },
                  "default_revenue_class_b": {
                    "type": "number",
                    "default": 3
                  },
                  "default_revenue_class_c": {
                    "type": "number",
                    "default": 0.5
                  },
                  "default_pareto_class_a": {
                    "type": "number",
                    "default": 80
                  },
                  "default_pareto_class_b": {
                    "type": "number",
                    "default": 15
                  },
                  "default_pareto_class_c": {
                    "type": "number",
                    "default": 5
                  }
                }
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The operation succeeded.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "success": {
                      "type": "boolean",
                      "description": "Indication that parameters have been saved successfully"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/import/{type}/pdf": {
      "post": {
        "tags": [
          "Import"
        ],
        "summary": "Import Documents from PDF",
        "operationId": "createDocumentsByPdf",
        "description": "Creates documents by extracting them from a PDF.\n\nSend the file as a raw `application/pdf` body with the `filename` query parameter set. If streaming the file is not possible, send JSON instead with a `file` object holding a short-lived download link.\n\nProcessing is asynchronous. A `202` response carries a `requestId` and a `Retry-After` header — wait that many seconds, or 15 if the header is missing, then poll `GET /api/v1/companies/{companyUuid}/import/{type}/status/{requestId}`.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the company."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ImportType"
            }
          },
          {
            "in": "query",
            "name": "filename",
            "description": "Original filename to store alongside the uploaded PDF, required for application/pdf request",
            "schema": {
              "type": "string",
              "example": "file.pdf"
            }
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "multipart/form-data": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "string",
                    "format": "binary"
                  }
                }
              }
            },
            "application/pdf": {
              "schema": {
                "type": "string",
                "format": "binary"
              }
            },
            "application/json": {
              "schema": {
                "type": "object",
                "required": [
                  "file"
                ],
                "properties": {
                  "file": {
                    "type": "object",
                    "description": "File reference for server-side download.",
                    "required": [
                      "name",
                      "link"
                    ],
                    "properties": {
                      "name": {
                        "type": "string",
                        "description": "Original filename."
                      },
                      "link": {
                        "type": "string",
                        "format": "uri",
                        "description": "Short-lived URL to GET the file."
                      }
                    }
                  }
                }
              }
            }
          }
        },
        "responses": {
          "202": {
            "description": "Accepted for processing. First status check should occur after 15 seconds.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before the first status poll.",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 15
                }
              },
              "X-Request-Id": {
                "description": "Request ID of created import.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "format": "uuid",
                      "description": "Request ID of created import."
                    },
                    "status": {
                      "$ref": "#/components/schemas/ImportStatus"
                    }
                  }
                }
              }
            }
          },
          "400": {
            "description": "Unsupported type or file is broken.",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          },
          "415": {
            "description": "Unsupported Media Type (must be `application/pdf` or `application/json`).",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "message": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/import/{type}/status/{requestId}": {
      "get": {
        "tags": [
          "Import"
        ],
        "summary": "Get Import Status",
        "operationId": "checkImportProcessing",
        "description": "Returns the outcome of a PDF import, identified by the `requestId` from the upload response.\n\nWhile processing is still running the endpoint responds `202 Accepted` with a `Retry-After` header. Wait that many seconds, or 5 if the header is missing, then poll again.\n",
        "x-internal": true,
        "x-scalar-ignore": true,
        "parameters": [
          {
            "name": "companyUuid",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "The UUID of the company."
          },
          {
            "name": "type",
            "in": "path",
            "required": true,
            "schema": {
              "$ref": "#/components/schemas/ImportType"
            }
          },
          {
            "name": "requestId",
            "in": "path",
            "required": true,
            "schema": {
              "type": "string",
              "format": "uuid"
            },
            "description": "Request ID of the previously created import."
          }
        ],
        "responses": {
          "200": {
            "description": "Result is ready.",
            "headers": {
              "X-Request-Id": {
                "description": "Echo of the generated request ID.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "$ref": "#/components/schemas/ImportStatus"
                    },
                    "documents": {
                      "type": "array",
                      "description": "Documents created from the uploaded file.",
                      "items": {
                        "$ref": "#/components/schemas/Document"
                      }
                    }
                  }
                }
              }
            }
          },
          "202": {
            "description": "Not ready yet. Client should poll again after the suggested delay.",
            "headers": {
              "Retry-After": {
                "description": "Seconds to wait before next poll (default 5).",
                "schema": {
                  "type": "integer",
                  "minimum": 1,
                  "default": 5
                }
              },
              "X-Request-Id": {
                "description": "Echo of the generated request ID.",
                "schema": {
                  "type": "string",
                  "format": "uuid"
                }
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "request_id": {
                      "type": "string",
                      "format": "uuid"
                    },
                    "status": {
                      "$ref": "#/components/schemas/ImportStatus"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/inventory-orders": {
      "get": {
        "tags": [
          "Inventory Orders"
        ],
        "summary": "List Inventory Orders",
        "operationId": "inventoryOrders.list",
        "description": "Returns the company's inventory orders, paginated. Each order arrives with its line items, warehouse, marketplace, vendor and payment requests. Optional server-side filters are passed as query parameters under the `filters` key.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text search string applied across order fields.",
            "schema": {
              "type": "string",
              "example": "PO-2024"
            }
          },
          {
            "name": "warehouses",
            "in": "query",
            "required": false,
            "description": "Filter by one or more warehouse IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                3,
                7
              ]
            }
          },
          {
            "name": "vendors",
            "in": "query",
            "required": false,
            "description": "Filter by one or more vendor IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                1,
                5
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter orders with `date_order_received` >= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter orders with `date_order_received` <= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of inventory orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryOrderListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Inventory Orders"
        ],
        "summary": "Create Inventory Order",
        "operationId": "inventoryOrders.create",
        "description": "Creates an inventory order. The authenticated user is recorded as its creator.\n\nIf `payment_term_id` is set, payment request installments are generated automatically from the term's schema. Adjust them afterwards one at a time with `PUT /api/v1/companies/{companyUuid}/payment-requests/{paymentId}`.\n\nReturns `400` if `date_products_manufactured` is earlier than the company's Entry Locked Date.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryOrderPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created inventory order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryOrderResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/inventory-orders/{orderId}": {
      "get": {
        "tags": [
          "Inventory Orders"
        ],
        "summary": "Get Inventory Order",
        "operationId": "inventoryOrders.read",
        "description": "Returns a single inventory order with every relation resolved: line items with product info, warehouse, marketplace, vendor and payment requests. Responds `404` if the order does not belong to the company in `companyUuid`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "$ref": "#/components/parameters/orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Full inventory order detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryOrderResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Inventory Orders"
        ],
        "summary": "Update Inventory Order",
        "operationId": "inventoryOrders.update",
        "description": "Updates an inventory order. Only fields present in the request body are applied; omitted fields keep their current values.\n\nSending `details` replaces the line items entirely — the existing ones are deleted and re-created — so send the complete set, not only the lines that changed.\n\nSending `payment_term_id` re-syncs the payment request schedule against the term rather than rebuilding it. Installments the new term still needs are left untouched, including any edits made to them; only the ones it no longer needs are deleted. Sending the term the document already has changes nothing. To change a single installment's `paid_amount`, `payment_date`, `transaction_number` or `memo`, use `PUT /api/v1/companies/{companyUuid}/payment-requests/{paymentId}` instead.\n\nReturns `400` if `date_products_manufactured` is earlier than the company's Entry Locked Date.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "$ref": "#/components/parameters/orderId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/InventoryOrderPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated inventory order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InventoryOrderResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/bills": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "List Bills",
        "operationId": "bills.list",
        "description": "Returns the company's bills, paginated. Each bill arrives with its line items (including service and service group), vendor and payment requests. Optional server-side filters are passed as query parameters.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text search string applied across bill fields.",
            "schema": {
              "type": "string",
              "example": "INV-2024"
            }
          },
          {
            "name": "vendors",
            "in": "query",
            "required": false,
            "description": "Filter by one or more vendor IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                1,
                5
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter bills with `date` >= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter bills with `date` <= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of bills.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Bills"
        ],
        "summary": "Create Bill",
        "operationId": "bills.create",
        "description": "Creates a bill. The authenticated user is recorded as its creator.\n\nEvery line item in `details` needs a `service_id` — look the options up with `GET /api/v1/companies/{companyUuid}/services`. The optional `documents` array links the bill back to the documents it was raised for; supported types are `InventoryOrder`, `AssemblyOrder`, `Shipment` and `Invoice`.\n\nIf `payment_term_id` is set, payment request installments are generated automatically from the term's schema. Adjust them afterwards one at a time with `PUT /api/v1/companies/{companyUuid}/payment-requests/{paymentId}`.\n\nReturns `400` if `date` is earlier than the company's Entry Locked Date.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created bill.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillResource"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/bills/{billId}": {
      "get": {
        "tags": [
          "Bills"
        ],
        "summary": "Get Bill",
        "operationId": "bills.read",
        "description": "Returns a single bill with every relation resolved: line items with service and service group, vendor and payment requests. Responds `404` if the bill does not belong to the company in `companyUuid`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "$ref": "#/components/parameters/billId"
          }
        ],
        "responses": {
          "200": {
            "description": "Full bill detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Bills"
        ],
        "summary": "Update Bill",
        "operationId": "bills.update",
        "description": "Updates a bill. Only fields present in the request body are applied; omitted fields keep their current values.\n\nSending `details` replaces the line items entirely — the existing ones are deleted and re-created — so send the complete set, not only the lines that changed. Every line item needs a `service_id` — look the options up with `GET /api/v1/companies/{companyUuid}/services`.\n\n`documents` behaves differently: entries are synced by upsert, so new ones are created, matching ones are updated and ones no longer in the array are removed. All entries must share the same `type`; entries of any other type are dropped without an error, so mixing types silently loses data.\n\nSending `payment_term_id` re-syncs the payment request schedule against the term rather than rebuilding it. Installments the new term still needs are left untouched, including any edits made to them; only the ones it no longer needs are deleted. Sending the term the document already has changes nothing. To change a single installment, use `PUT /api/v1/companies/{companyUuid}/payment-requests/{paymentId}` instead.\n\nReturns `400` if `date` is earlier than the company's Entry Locked Date.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "$ref": "#/components/parameters/billId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/BillPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated bill.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/BillResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/payment-requests": {
      "get": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "List Payment Requests",
        "operationId": "paymentRequests.list",
        "description": "Returns the company's payment request installments across every document type, paginated. Each entry is a flat merge of the installment's own fields and a nested `document` object describing the parent document it was generated from. Supports date range filtering by `due_date`. The default page size is 20.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter payment requests with `due_date` >= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter payment requests with `due_date` <= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of payment requests with document context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/payment-requests/{paymentId}": {
      "put": {
        "tags": [
          "Payment Requests"
        ],
        "summary": "Update Payment Request",
        "operationId": "paymentRequests.update",
        "description": "Updates a single payment request installment. Only fields present in the request body are applied; omitted fields keep their current values. Returns the installment merged with its parent document context — the same shape as the entries in the list endpoint.\n\nThis is the only way to change an individual installment. Edits made here survive a later `payment_term_id` sync on the parent document, as long as the new term still calls for that installment.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "$ref": "#/components/parameters/paymentId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/PaymentRequestUpdatePayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated payment request with document context.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/PaymentRequestItemResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/vendors": {
      "get": {
        "tags": [
          "Vendors"
        ],
        "summary": "List Vendors",
        "operationId": "vendors.list",
        "description": "Returns the company's vendors, paginated. Supports free-text search by name. The default page size is 100; override it with `per_page`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text search applied against vendor name.",
            "schema": {
              "type": "string",
              "example": "Acme"
            }
          },
          {
            "name": "per_page",
            "in": "query",
            "required": false,
            "description": "Number of results per page. Defaults to 100.",
            "schema": {
              "type": "integer",
              "example": 50
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of vendors.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/VendorListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/assembly-orders": {
      "get": {
        "tags": [
          "Assembly Orders"
        ],
        "summary": "List Assembly Orders",
        "operationId": "assemblyOrders.list",
        "description": "Returns the company's assembly orders, paginated. Each order arrives with its line items (including assembly and product info), warehouse and marketplace. Supports free-text search and date range filtering by `assembled_at`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text search applied across assembly order fields.",
            "schema": {
              "type": "string",
              "example": "AO-2024"
            }
          },
          {
            "name": "warehouses",
            "in": "query",
            "required": false,
            "description": "Filter by one or more warehouse IDs.",
            "schema": {
              "type": "array",
              "items": {
                "type": "integer"
              },
              "example": [
                3,
                7
              ]
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter orders with `assembled_at` >= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter orders with `assembled_at` <= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of assembly orders.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyOrderListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
      "post": {
        "tags": [
          "Assembly Orders"
        ],
        "summary": "Create Assembly Order",
        "operationId": "assemblyOrders.create",
        "description": "Creates an assembly order. `ref_number` is the only required field. Every other field is optional and nullable, and can be sent here or added later with `PUT`. A project task is created for the document on save, or reused if one already exists.\n\nReturns `400` if `date_order_assembled` is earlier than the company's Entry Locked Date.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssemblyOrderPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The newly created assembly order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyOrderResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/assembly-orders/{orderId}": {
      "get": {
        "tags": [
          "Assembly Orders"
        ],
        "summary": "Get Assembly Order",
        "operationId": "assemblyOrders.read",
        "description": "Returns a single assembly order with every relation resolved: line items with assembly and product info, warehouse, marketplace and the linked project task. Responds `404` if the order does not belong to the company in `companyUuid`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "$ref": "#/components/parameters/orderId"
          }
        ],
        "responses": {
          "200": {
            "description": "Full assembly order detail.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyOrderResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          }
        }
      },
      "put": {
        "tags": [
          "Assembly Orders"
        ],
        "summary": "Update Assembly Order",
        "operationId": "assemblyOrders.update",
        "description": "Updates an assembly order. Only fields present in the request body are applied; omitted fields keep their current values. `ref_number` is fixed at creation and cannot be changed — it is ignored if present in the request body. Every other field can be updated.\n\nSending `items` replaces the line items entirely — the existing ones are deleted and re-created — so send the complete set, not only the lines that changed.\n\nReturns `400` if `date_order_assembled` is earlier than the company's Entry Locked Date. Both the incoming date and the order's current date are checked, so an order already sitting before the locked date cannot be moved forward out of it.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "$ref": "#/components/parameters/orderId"
          }
        ],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/AssemblyOrderPayload"
              }
            }
          }
        },
        "responses": {
          "200": {
            "description": "The updated assembly order.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AssemblyOrderResource"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/BadRequest"
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          },
          "404": {
            "$ref": "#/components/responses/NotFound"
          },
          "422": {
            "$ref": "#/components/responses/ValidationError"
          }
        }
      }
    },
    "/api/v1/companies/{companyUuid}/invoices": {
      "get": {
        "tags": [
          "Invoices"
        ],
        "summary": "List Invoices",
        "operationId": "invoices.list",
        "description": "Returns the company's invoices, paginated. Each invoice arrives with its line items, customer, warehouse, sales channel, `source` and `market` — the ISO 3166-1 alpha-2 country code of the marketplace the sale belongs to.\n\nSupports free-text search across invoice fields, and date range filtering by `transaction_date` through `start_date` and `end_date`.\n",
        "parameters": [
          {
            "$ref": "#/components/parameters/companyUuid"
          },
          {
            "name": "search",
            "in": "query",
            "required": false,
            "description": "Free-text search applied across invoice fields.",
            "schema": {
              "type": "string",
              "example": "INV-2024"
            }
          },
          {
            "name": "start_date",
            "in": "query",
            "required": false,
            "description": "Filter invoices with `transaction_date` >= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-01-01"
            }
          },
          {
            "name": "end_date",
            "in": "query",
            "required": false,
            "description": "Filter invoices with `transaction_date` <= this date (ISO 8601).",
            "schema": {
              "type": "string",
              "format": "date",
              "example": "2024-12-31"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Paginated list of invoices.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/InvoiceListResponse"
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/Unauthorized"
          },
          "403": {
            "$ref": "#/components/responses/Forbidden"
          }
        }
      },
[...]
