{
  "openapi": "3.1.0",
  "info": {
    "title": "NeonPanel MCP Server",
    "version": "1.0.0",
    "description": "MCP Server for NeonPanel inventory, finance, and analytics data.\n\n## Authentication Setup\n\nThis API uses OAuth 2.0 with a **pre-registered client**. Dynamic client registration is NOT supported.\n\n### For ChatGPT Integration:\n\n1. **Use this pre-registered client_id:** `1145f268-a864-11f0-8a3d-122c1fe52bef`\n2. **No client_secret required** - This is a public client using PKCE\n3. **Authorization endpoint:** https://my.neonpanel.com/oauth2/authorize\n4. **Token endpoint:** https://my.neonpanel.com/oauth2/token\n5. **Redirect URI:** https://mcp.neonpanel.com/callback\n\n### Security Model:\n\n- The client_id is **shared** by all ChatGPT users (this is safe!)\n- Each user authenticates with **their own NeonPanel credentials**\n- Each user receives a **unique token** with permissions specific to their account\n- PKCE (Proof Key for Code Exchange) prevents authorization code interception\n\n### User Data Isolation:\n\nWhen a user authorizes:\n1. They log in with their NeonPanel username/password\n2. NeonPanel issues a JWT token containing their user_id and permissions\n3. API responses are filtered based on the authenticated user's permissions\n4. Users can only access data they have permission to view\n\nNo user can access another user's data, even though they share the same client_id."
  },
  "servers": [
    {
      "url": "https://mcp.neonpanel.com",
      "description": "Production MCP Server"
    }
  ],
  "components": {
    "securitySchemes": {
      "neonpanel_oauth": {
        "type": "oauth2",
        "description": "OAuth 2.0 authorization using pre-registered client credentials.\n\n**Pre-registered Client ID:** `1145f268-a864-11f0-8a3d-122c1fe52bef`\n\n**Important:** This is a public client (no client_secret). Use PKCE (code_challenge and code_verifier) for security.",
        "flows": {
          "authorizationCode": {
            "authorizationUrl": "https://my.neonpanel.com/oauth2/authorize",
            "tokenUrl": "https://my.neonpanel.com/oauth2/token",
            "scopes": {
              "read:inventory": "Read inventory data",
              "read:analytics": "Read analytics data",
              "read:companies": "Read company information",
              "read:reports": "Read reports",
              "read:warehouses": "Read warehouse data",
              "read:revenue": "Read revenue data",
              "read:cogs": "Read cost of goods sold",
              "read:landed-cost": "Read landed cost data",
              "write:import": "Import data"
            }
          }
        },
        "x-client-id": "1145f268-a864-11f0-8a3d-122c1fe52bef",
        "x-pkce-required": true
      }
    }
  },
  "security": [
    {
      "neonpanel_oauth": [
        "read:inventory",
        "read:analytics",
        "read:companies",
        "read:reports"
      ]
    }
  ],
  "paths": {
    "/health": {
      "get": {
        "summary": "Health check",
        "description": "Check if the MCP server is running",
        "operationId": "getHealth",
        "security": [],
        "responses": {
          "200": {
            "description": "Server is healthy",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": {
                      "type": "string"
                    },
                    "service": {
                      "type": "string"
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/mcp/capabilities": {
      "get": {
        "summary": "Get MCP capabilities",
        "description": "Retrieve available MCP tools and capabilities",
        "operationId": "getCapabilities",
        "responses": {
          "200": {
            "description": "List of available capabilities",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "capabilities": {
                      "type": "array",
                      "items": {
                        "type": "object"
                      }
                    }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api/companies": {
      "get": {
        "summary": "List companies",
        "description": "Get list of companies from NeonPanel",
        "operationId": "listCompanies",
        "security": [
          {
            "neonpanel_oauth": [
              "read:companies"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "List of companies",
            "content": {
              "application/json": {
                "schema": {
                  "type": "array",
                  "items": {
                    "type": "object",
                    "properties": {
                      "id": {
                        "type": "string"
                      },
                      "name": {
                        "type": "string"
                      }
                    }
                  }
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - OAuth token required"
          }
        }
      }
    },
    "/api/inventory": {
      "get": {
        "summary": "Get inventory data",
        "description": "Retrieve inventory information from NeonPanel",
        "operationId": "getInventory",
        "security": [
          {
            "neonpanel_oauth": [
              "read:inventory"
            ]
          }
        ],
        "responses": {
          "200": {
            "description": "Inventory data",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object"
                }
              }
            }
          },
          "401": {
            "description": "Unauthorized - OAuth token required"
          }
        }
      }
    }
  }
}
